
footer {
    padding: 15px;
    background-color: $backgrnd-color-h-f;
    border-bottom: 8px solid $border-color-prdcts;
    border-top: 8px solid $border-color-prdcts;
    & p {
        margin: 0;
        color: black;
    }
}