
.footer {
    background-color: $backgrnd-color-f;
    padding: 0!important;
    
    & .row {
        margin: 0;
    }
    & a {
        color: rgba(0, 0, 0, 0.8);
        &:hover {
            color: rgba(0, 0, 255, 0.7);
        }
    }

    &__sn {
        border-top: 8px solid $border-color-f;
        padding: 15px;
        & i {
            margin: 25px;
            font-size: 2.1em;
            transition-property: all;

        }
        & .fa-facebook-f {
            color: #3b5998;
            &:hover {
                color: #2e4983;
            }
        }
        & .fa-instagram {
            color: #EA4B60;
            &:hover {
                color: #ca374b;
            }
        }
        & .fa-twitter {
            color: #1C9DEB;
            &:hover {
                color: #1580c2;
            }
        }
        & .fa-linkedin-in {
            color: #0274B2;
            &:hover {
                color: #065a88;
            }
        }
        & .fa-pinterest {
            color: #E60019;
            &:hover {
                color: #ac0b1e;
            }
        }
    }
    &__infos {
        & p {
            padding: 5px;
            & span {
                font-size: .95em;
                opacity: .8;
            }
        }
        & i {
            padding-bottom: 12px!important;
        }
        padding-top: 10px;
        padding-bottom: 15px;
    }
    &__copyright {
        border-bottom: 8px solid $border-color-f;
        padding-top: 10px;
        padding-bottom: 15px;
        font-size: .9em;
        & img {
            width: 27px;
            margin-bottom: 15px;
        }
    }

    & p {
        margin: 0;
        color: black;
    }
}