
.header {
    padding: 30px;
    background-color: $backgrnd-color-h-f;
    border-top: 7px solid $border-color-h;
    border-bottom: 7px solid $border-color-h;
    &__title {
        & h1 {
            margin: 0;
            font-size: 2.3em;
            & a {
                color: black; 
            }
        }
    }
    &__subtitles {
        & li {
            list-style-type: none;
        }
        & ul {
            margin: 0;
        }
        & h2 {
            margin: 0;
            font-size: 1.7em;
            margin-right: 25px;
            padding-bottom: 2px;
            & a {
                color: black; 
            }
        }
        &__on {
            border-bottom: 3px solid black;
        }
        &__off  {

        }
    }
}