
//Header
.header {
    & a {
        &:hover {
            color: black;
        }
    }
    &__subtitles {
        &__off {
            border-bottom: 0px solid rgba(255, 255, 255, 0.4);
            transition-property: border-bottom;
            transition-duration: .1s;
            &:hover {
                border-bottom: 3px solid rgba(255, 255, 255, 0.4);
            }
        }
    }
}

//Index
.products {
    & img {
        transition-property: all;
        transition-duration: .2s;
        transform: scale(1);
        border-radius: 3px;
        &:hover {
            transform: scale(1.02);
            border-radius: 10px;
        }
    }
}

//Panier
.panier {
    #btn-submit-panier {
        background-color: rgb(212, 212, 212);
        border: 2px solid rgba(0, 0, 0, 0.4);
        transition-property: all;
        transition-duration: .3s;
        color: black;
        transform: scale(1);
        &:hover {
            border-color: rgb(145, 145, 145);
            background-color: rgb(224, 224, 224);
            transform: scale(1.03);
        }
    }

}