
//Cart page

.error-empty {
    display: none;
    margin: 40px;
    text-align: center;
    & h3 {
        font-size: 2.2em;
    }
    & p {
        font-size: 1.5em;
        margin-top: 15px;
    }
}

.cart {
    margin-top: 25px;
    margin-bottom: 50px;

    &__recap {
        &__title {
            margin-top: 25px;
            margin-bottom: 30px;
            & h3 {
                font-size: 2em;
                & span {
                    padding-bottom: 3px;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                }
            }
        }
        & p {
            font-size: 1.25em;
        }
        &__infos {
            & div {
                padding: 0;
            }
        }
        &__products {
            margin-bottom: 20px;
            &__container {
                width: 100%;
                margin-top: 10px;
                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & img {
                        width: 14px;
                    }
                }
            }
        }
        &__total-price {
            & h5 {
                font-size: 1.3em;
                margin: 0;
            }
            margin-top: 3px;
            padding: 15px;
            background-color: rgb(240, 240, 240);
        }
        &__clear {
            background-color: rgba(0, 0, 0, 0.11);
            margin-top: 30px;
            width: 200px;
            height: 35px;
            & i {
                padding-right: 6px;
                font-size: .9em;
            }
        }
    }
    &__user-infos {
        &__title {
            padding-top: 20px;
            margin-top: 30px;
            margin-bottom: 10px;
            & h3 {
                font-size: 2em;
                & span {
                    padding-bottom: 3px;
                    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
                }
            }
        }
        &__form {
            padding: 25px;
            & p {
                font-size: 1.1em;
                line-height: 40px;
            }
            & label {
                text-align: left;
                margin: 0;
            }
            & input {
                width: 260px;
                height: 32px;
                margin: 5px;
                border: 1.5px solid rgba(0, 0, 0, 0.4);
                padding-left: 10px;
                font-size: .87em;
                color: rgb(71, 71, 71);
            }
            &__btn-submit {
                margin-top: 25px;
            }
        }
    }
}