
//Cart page

.cart {
    margin-top: 25px;
    margin-bottom: 50px;

    &__smry {
        &__title {
            margin-top: 25px;
            margin-bottom: 30px;
            font-size: 2em;
            text-decoration: underline;
        }
        & p {
            font-size: 1.25em;
        }
        &__infos {
            margin-bottom: 10px;
            & div {
                padding: 0;
            }
        }
        &__products {
            margin-bottom: 20px;
            &__container {
                width: 100%;
                & button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    & img {
                        width: 14px;
                    }
                }
            }
        }
        &__total-price {
            & h5 {
                font-size: 1.3em;
                margin: 0;
            }
            margin-top: 3px;
            padding: 15px;
            background-color: rgb(240, 240, 240);
        }
        &__clear {
            background-color: rgba(0, 0, 0, 0.11);
            margin-top: 30px;
            width: 200px;
            height: 35px;
            & i {
                padding-right: 6px;
                font-size: .9em;
            }
        }
    }
    &__contact {
        margin-bottom: 30px;
        &__title {
            margin: 75px 0 30px;
            font-size: 2em;
            text-decoration: underline;
        }
        &__form {
            & label {
                text-align: left;
                margin: 0;
            }
            & input {
                width: 260px;
                height: 32px;
                margin: 5px;
                border: 1.5px solid rgba(0, 0, 0, 0.4);
                padding-left: 10px;
                font-size: .87em;
                color: rgb(71, 71, 71);
            }
            &__error {
                color: rgb(175, 0, 0);
                padding: 3px 0 5px;
                font-size: .95em!important;
            }
            &__btn-submit {
                margin-top: -5px;
            }
        }
    }
}