
//Product page
.products-order {
    background-color: rgba(216, 216, 216, 0.8);
    padding: 32px 0 40px 0;

    & h4 {
        font-size: 2em;
        padding: 10px;
        border-bottom: 1px solid black;
    }
    & button {
        margin: 3px 0;
        padding: 7px 15px;
        font-size: 1em;
    }
    & img {
        margin: 16px 0 19px 0;
        width: 40%;
        border-radius: 10px;
        box-shadow: 1px 2.5px 10px rgba(0, 0, 0, 0.7);
    }
    &__desc-bloc {
        font-size: 1.3em;
        color: black;
        & span {
            font-size: .9em;
            color: rgba(0, 0, 0, 0.68);
        }
    }
    &__custom-bloc {
        font-size: 1.15em;
        color: black;
        margin-bottom: 8px;
        & span {
            font-size: .85em;
            color: rgba(0, 0, 0, 0.68);
        }
    }
    &__price-bloc {
        font-size: 1.15em;
        color: rgba(0, 0, 0, 0.75);
        margin-top: 20px;
        & span {
            color: black;
        }
    }
}
